/* CUSTOM PROPERTIES */
:root {
    --main-color-dark-blue: #2C3E50;
    --main-color-light-blue: #3A546D;
    --main-color-green: #1ABC9C;
    --main-color-white: #FFFFFF;
}

/* HEADER */
.ms_header {
    background-color: var(--main-color-dark-blue);
    height: 80px;
}

.ms_nav {
    /* debug */
    background-color: red;
}

/* MAIN */
/* ? Hero */
.ms_hero {
    padding-top: 80px;
    background-color: var(--main-color-green);
}

.ms_hero img {
    width: 200px;
}

/* ? Portfolio */

/* ? About */

/* ? Contact me */

/* FOOTER */
/* ? Footer Top */

/* ? Footer Bottom */