/* CUSTOM PROPERTIES */
:root {
    --ms_color-dark-blue: #2C3E50;
    --ms_color-light-blue: #3A546D;
    --ms_color-green: #1ABC9C;
}

/* HEADER */
.ms_header {
    background-color: var(--ms_color-dark-blue);
    height: 80px;
}

/* MAIN */
/* ? Hero */
.ms_hero {
    padding-top: 80px;
    background-color: var(--ms_color-green);
}

.ms_hero img {
    width: 200px;
}

/* ? Portfolio */

/* ? About */
.ms_about {
    background-color: var(--ms_color-green);
}

/* ? Contact me */
.ms_form {
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 0;
}

.ms_btn {
    background-color: rgb(26, 188, 156);
    color: #FFFFFF;
}

.ms_btn:hover {
    background-color: rgb(26, 188, 156, .8);
    color: #FFFFFF;
}

/* FOOTER */
/* ? Footer Top */
.ms_footer_top {
    background-color: var(--ms_color-light-blue);
}

.ms_card_footer_top {
    /* debug */
    background-color: lightseagreen;
}

/* ? Footer Bottom */
.ms_footer_bottom {
    background-color: var(--ms_color-dark-blue);
}