/* CUSTOM PROPERTIES */
:root {
    --main-color-dark-blue: #2C3E50;
    --main-color-light-blue: #3A546D;
    --main-color-green: #1ABC9C;
    --main-color-white: #FFFFFF;
}

/* HEADER */
.ms_header {
    background-color: var(--main-color-dark-blue);
    height: 80px;
}

.ms_nav {
    /* debug */
    background-color: red;
}

/* MAIN */
/* ? Hero */
.ms_hero {
    padding-top: 80px;
    background-color: var(--main-color-green);
}

.ms_hero img {
    width: 200px;
}

/* ? Portfolio */
.ms_card_portfolio {
    border-radius: 10px;
    /* debug */
    background-color: green;
    height: 100px;
}

/* ? About */
.ms_about {
    background-color: var(--main-color-green);
}

.ms_card_about {
    text-align: left;
    /* debug */
    background-color: lightsalmon;
    height: 300px;
}
/* ? Contact me */
.ms_card_contact {
    text-align: left;
    /* debug */
    background-color: lightskyblue;
    height: 300px;
}

/* FOOTER */
/* ? Footer Top */
.ms_footer_top {
    background-color: var(--main-color-light-blue);
    color: var(--main-color-white);
}

.ms_card_footer_top {
    /* debug */
    background-color: lightseagreen;
}

/* ? Footer Bottom */
.ms_footer_bottom {
    background-color: var(--main-color-dark-blue);
    color: var(--main-color-white);
}